@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap');

.home-container{
    background: #E5E5E5;
}
.home-content{
    padding-left: 120px;
    padding-top: 120px;
    padding-bottom: 265px;
}
.home-title{
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #062847;
}
.home-subtitle{
    font-family:'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;
}
.home-button{
    width: 101px;
    height: 40px;
    background: #1890FF;
    border-radius: 4px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.home-button-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}